.m-itemCateListHd
  margin-bottom: 1.2rem;
  position: fixed;
  z-index: 5;
  width: 100%;
  align-items: center;
  height: 1.17333rem;
  padding: 0 .4rem;
  background-color: #fff;
  display flex
  justify-content center
  .m-topSearchIpt
    width 100%
    height: .74667rem;
    display flex
    justify-content center
    align-items center
    flex-flow row wrap
    font-size: .37333rem;
    border-radius: .10667rem;
    background-color: #ededed;
    .icon
      width: .37333rem;
      height: .37333rem;
      margin-right: .13333rem;
      background-image url("//yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/search2-2fb94833aa.png")
      background-repeat no-repeat
      background-size 100%
    .placeholder
      color: #666;



.m-cateNavVertWrap
  height  16rem
  top: 1.17333rem;
  bottom: 0;
  z-index: 4;
  width: 2.16rem;
  background-color: #fff;
  position fixed
  border-top
  border-right 1px solid rgba(0,0,0,.15)
  .m-cateNavVert
    padding-bottom: 1.84rem;
    padding: .53333rem 0;
    .item
      width: 100%;
      height: .66667rem;
      text-align: center;
      border: none;
      margin-bottom .53333rem
      &.active
        position: relative;
        .txt
          color red
        &::before
          content: ' ';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          width: .08rem;
          background-color: #ab2b2b;
      .txt
        font-size: .37333rem;
        line-height: .66667rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;
        color black



.m-subCateList
  margin-left: 2.16rem;
  padding: .4rem .4rem .28rem;
  position relative
  top 1rem
  .banner
    position: relative;
    width: 100%;
    height: 2.56rem;
    display: table;
    margin-bottom: .42667rem;
    background: center no-repeat #f4f4f4;
    background-size: cover;
    border-radius: 4px;
    .cnt
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      font-size: .37333rem;
      color: #fff;
      width 100%
      height 100%

  .cateList
    width 100%
    height 100%
    .cateListcao
      width 100%
      height 100%
      .nima
        width 100%
        height 0.8rem
        font-size 0.45rem
        color #666
        line-height 0.8rem
        box-sizing border-box
        padding-left 0.2rem
      .uls
        width 100%
        height 100%
        margin-bottom 1rem
        display flex
        flex-flow row wrap
        .lis
          width 1.92rem
          text-align center
          margin-right .4rem
          .dag
            width 1.92rem
            height 1.92rem
            >img
              width 100%
              height 100%
          .name
            font-size .32rem
            color #333


    .icon
      width 1.92rem
      text-align center
      float left
      margin-right 0.4rem
      .cateImgWrapper
        width 1.92rem
        height 1.92rem
        >img
          width 100%
          height 100%
      .name
        height: .9rem;
        font-size: .32rem;
        text-align: center;
        line-height: .45rem;


