.row
  z-index: 1;
  width: 10rem;
  margin: auto;
  overflow: hidden;
  position: relative;
  padding: 0 .21333rem 0 .32rem;
  height: 1.17333rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  .logo
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  .right
    margin-left: auto;
    .search
      margin-right: .26667rem;
  .u-icon-home,.u-icon-logo,.u-icon-searchl,.u-icon-cart
    display: inline-block;
    vertical-align: middle;
    background-image url("//yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/sprites/hd-s9f33319f5a-164b37c9ce.png")
    background-repeat: no-repeat;
    background-size: 2.29333rem 5.6rem;
    &.u-icon-home
      width: .64rem;
      height: .58667rem;
      background-position: 0 -.98667rem;
    &.u-icon-logo
      width: 2.29333rem;
      height: .72rem;
      background-position: 0 -1.70667rem;
    &.u-icon-cartl
      width: .85333rem;
      height: .85333rem;
      background-position: 0 -4.74667rem;
    &.u-icon-cart
      width: .85333rem;
      height: .85333rem;
      background-position: 0 0;
.wrap
  width 100%
  height 16.599rem
  position relative
  background: #F2F5F4;
  .logowrap
    text-align: center;
    padding-top: 2.13333rem;
    padding-bottom: 2.13333rem;
    .login
      display inline-block
      width: 3.57333rem;
      height: 1.2rem;
      img
        width 100%
        height 100%
  .btnWrap
    padding: 0 .53333rem;
    margin-bottom: 2.73333rem;
    .button
      margin-bottom: .42667rem;
      border-radius: 2px;
      height: 1.25333rem;
      line-height: 1.25333rem;
      font-size: .37333rem;
      color: #fff;
      border: 1px solid #b4282d;
      background-color: #b4282d;
      text-align: center;
      .icon
        display inline-block
        margin-right: .21333rem;
        position: relative;
        top: 0.1rem;
        background-position: 0 -.66667rem;
        background-repeat: no-repeat;
        background-size: .53333rem 3.86667rem;
        width: .53333rem;
        height: .53333rem;
        background-image url("//yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/sprites/login-s2d0d826858-b284a621da.png")
    .btn
      color: #333;
      font-size: .37333rem;
      text-align: center;
      width: 100%;
      position relative
      .tupan
        display inline-block
        background-image url("//yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/arrow-right3-c1ab37e88b.png")
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: .37333rem;
        height: .37333rem;
        position absolute
        margin-left 0.095rem
        top 0.4rem
  #to
    background-color: transparent;
    color #b4282d;
    #togo
      display inline-block
      margin-right: .21333rem;
      position: relative;
      top: 0.1rem;
      background-repeat: no-repeat;
      background-size: .53333rem 3.86667rem;
      width: .53333rem;
      height: .53333rem;
      background-image url("//yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/sprites/login-s2d0d826858-b284a621da.png")
      color #b4282d;
  .thirdWrap
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 1.06667rem;
    height: .53333rem;
    text-align: center;
    display flex
    justify-content space-evenly
    line-height .53333rem;
    .wx
      height: .53333rem;
      border-right: 1px solid #979797;
      display: inline-block;
      text-align: center;
      padding: 0 .53333rem;
      span
        font-size: .37333rem;
        line-height: .53333rem;
        height: .53333rem;
        color: #7F7F7F;
        margin-left: .06667rem;